.search-bar-books {
    width: 32.2%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #f1daae;
    background-color: #f1daae;
    border-radius: 10px;
    font-size: 16px;
    position: relative;
    top: 100px;
    left: 10.25%;
}
.search-bar-books:focus {
    border: 2px solid black;
    outline: none;
}
.sort-books{
    background-color: rgba(232, 152, 38, 0.62);
    width: 10%;
    border: 1px solid rgba(239, 182, 99, 0.62);
    padding: 8px;
    margin: 10px;
    border-radius: 10px;
    font-size: 16px;
    position: relative;
    top: 100px;
    left: 10%;
    color:rgba(0, 0, 0, 0.75);
}
.language-select {
    background-color: rgba(232, 152, 38, 0.62);
    width: 10%;
    border: 1px solid rgba(239, 182, 99, 0.62);
    padding: 8px;
    margin: 10px;
    border-radius: 10px;
    font-size: 16px;
    position: relative;
    top: 100px;
    left: 10%;
    color:rgba(0, 0, 0, 0.75);
    text-align: center;
}

.category-buttons {
    width:200px;
    height:200px;
    margin: 50px 0 -150px 10%;
}
.categories-photo{
    width: 150px;
    height: 120px;
}
.category-buttons {
    display: flex;
    align-items: center;
}

.category-buttons button,
.category-buttons div {
    margin-right: 10px;
}




.book-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    width: 80%;
    margin-top: 150px;
    gap: 60px;
    row-gap: 50px;
    margin-left: 10%;
}
.book-card {
    background-color:rgba(232, 152, 38, 0.62);
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.75);
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.book-card:hover {
    background-color: rgba(227, 167, 80, 0.62);
    transform: scale(1.03);
    z-index: 2;
}
.book-card {
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.book-card:hover {
    border: 2px solid rgba(227, 167, 80, 0.62);
    box-shadow: 0 4px 15px rgba(227, 167, 80, 0.62);
    transform: scale(1.03);
    z-index: 2;
}

.book-photo {
    width: 150px;
    height: 200px;
    object-fit: cover;
    margin-left: 1%;
    margin-top: 5%;
    margin-bottom: 10px;
    border: 1px solid black;
}
.book-title{
    height: 50px;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}
.popup-container-book {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}
.popup {
    background-color: rgb(213, 154, 89);
    width: 30%;
    max-height: 85%;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.75);
    overflow-y: auto;
}
.popup-content-book {
    text-align: center;
}
.close {
    margin-left: 90%;
    cursor: pointer;
    color: black;
    font-size: 20px;
}
.popup .book-photo:hover{
    width: 300px;
    height: 400px;
    object-fit: cover;
}
.contact-info hr{
    width: 120%;
    margin-left: -10%;
}
.footer {
    color: rgba(0, 0, 0, 0.75);
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    top: 50%;
    left: 0;
    right: 0;
}
body{
    background-color: #dad9c3;
}
.book-card {
    background-color: rgba(232, 152, 38, 0.62);
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.75);
    padding: 20px 40px 20px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    position: relative;
}

.book-card:hover {
    background-color: rgba(227, 167, 80, 0.62);
    border: 2px solid rgba(227, 167, 80, 0.62);
    box-shadow: 0 4px 15px rgba(227, 167, 80, 0.62);
    transform: scale(1.03);
    z-index: 2;
}
.book-info {
    margin-top: 10px;

    width:250px;
}

.book-card h2 {
    font-size: 18px;
    text-align:center;
}

.book-card p {
    font-size: 14px;
    text-align: left;
    margin: 1px 0;
    margin-left:10px;
}

.star-icon {
    width: 20px;
    height: 20px;
    margin-left:2px;
    margin-bottom:1px;
    align-items: center;
}
.rating{
    margin-left:5px;
    margin-top:10px;
}
.price{
    font-size:25px;
    font-weight:bold;
}

.add-popup{
    z-index: 435326789;
}
.add-book-button {
    background-color: rgba(232, 152, 38, 0.62);
    width: 10%;
    border: 1px solid rgba(239, 182, 99, 0.62);
    padding: 8px;
    border-radius: 10px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.75);
    text-align: center;
    cursor: pointer;
    position: relative;
    left: 10%;
    top: 100px;
    margin: -105px 0 20px;
}

.add-book-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 100px 10.25% 20px;
    padding: 20px;
    border: 1px solid rgba(239, 182, 99, 0.62);
    border-radius: 10px;
    background-color: rgba(232, 152, 38, 0.62);
}

.add-book-form input,
.add-book-form select,
.add-book-form textarea {
    padding: 10px;
    border: 1px solid rgba(239, 182, 99, 0.62);
    border-radius: 10px;
    background-color: #f1daae;
    font-size: 16px;
}

.add-book-form button {
    background-color: rgba(220, 130, 12, 0.7);
    border: 1px solid rgba(239, 182, 99, 0.62);
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.75);
    cursor: pointer;
    width: 30%;
    align-self: center;
}
.button-row {
    display: flex;
}

.button-row button {
    margin-right: 2%;
}

.button-row button:last-child {
    margin-right: 0;
}
.button-row button:first-child {
    margin-left: 20%;
}
.add-book-buttons{
    margin-left:10%;
    padding-top:1%;
}
.delete-button {
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(239, 182, 99, 0.62);
    padding: 8px 12px;
    border-radius: 10px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.75);
    cursor: pointer;

    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: rgba(232, 152, 38, 0.62);
}


.basket-button {
    background-color: rgba(220, 130, 12, 0.7);
    border: 1px solid rgba(239, 182, 99, 0.62);
    padding: 8px 12px;
    border-radius: 10px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.75);
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
    transition: background-color 0.3s ease;
}

.basket-button:hover {
    background-color: rgba(232, 152, 38, 0.62);
}

.info-button{
    position: relative;
    margin-left: 100%;
    font-size: 25px;
    background-color: rgba(220, 130, 12, 0.7);
    border: 1px solid rgba(239, 182, 99, 0.62);
}



.basket-button:hover {
    background-color: rgba(232, 152, 38, 0.62);
}
.popup-content-book form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.popup-content-book input[type="text"],
.popup-content-book input[type="number"],
.popup-content-book input[type="date"],
.popup-content-book textarea {
    padding: 10px;
    border: 1px solid rgba(239, 182, 99, 0.62);
    border-radius: 10px;
    background-color: #f1daae;
    font-size: 16px;
    width: 100%;
}

.popup-content-book input[type="file"] {
    border: none;
    background-color: transparent;
    padding: 0;
    width: 100%;
}

.popup-content-book input[type="file"]:focus {
    outline: none;
}

.popup-content-book textarea {
    resize: vertical;
}

.popup-content-book label {
    margin-top: 10px;
}

.popup-content-book button {
    background-color: rgba(220, 130, 12, 0.7);
    border: 1px solid rgba(239, 182, 99, 0.62);
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.75);
    cursor: pointer;
    width: 100%;
    max-width: 200px;
    align-self: center;
}

.popup-content-book button:last-child {
    margin-top: 10px;
}
.popup-content-book {
    text-align: center;
    margin-left: 10%;
}

.edit-form{
    margin-left: 6%;
}