.search-bar-customers {
    width: 32.2%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #f1daae;
    background-color: #f1daae;
    border-radius: 10px;
    font-size: 16px;
    position: relative;
    top: 100px;
    left: 10.25%;
}
.search-bar-customers:focus {
    border: 2px solid black;
    outline: none;
}
.sort-customers{
    background-color: rgba(232, 152, 38, 0.62);
    width: 10%;
    border: 1px solid rgba(239, 182, 99, 0.62);
    padding: 8px;
    margin: 10px;
    border-radius: 10px;
    font-size: 16px;
    position: relative;
    top: 100px;
    left: 10%;
    color:rgba(0, 0, 0, 0.75);
}
.customer-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    width: 80%;
    margin-top: 150px;
    gap: 60px;
    row-gap: 50px;
    margin-left: 10%;
}
.customer-card {
    background-color:rgba(232, 152, 38, 0.62);
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.75);
    padding: 20px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.customer-card:hover {
    background-color: rgba(227, 167, 80, 0.62);
    transform: scale(1.03);
    z-index: 2;
}
.customer-card {
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.customer-card:hover {
    border: 2px solid rgba(227, 167, 80, 0.62);
    box-shadow: 0 4px 15px rgba(227, 167, 80, 0.62);
    transform: scale(1.03);
    z-index: 2;
}

.customer-card h2 {
    margin-bottom: 10px;
    font-size: 18px;
}
.customer-card p {
    margin: 5px 0;
    font-size: 14px;
    text-align: center;
}
.customer-photo {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-left: 1%;
    margin-top: -20%;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 1px solid black;
}
.customer-photo-popup{
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-left: 1%;
    margin-top: -20%;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 1px solid black;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}
.popup-container-cust {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.popup-cust {
    background-color: rgb(213, 154, 89);
    width: 30%;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color:rgba(0, 0, 0, 0.75);
}
.popup-content-cust {
    text-align: center;
}
.close {
    margin-left: 90%;
    cursor: pointer;
    color: black;
    font-size: 20px;
}
.customer-photo-popup:hover{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.contact-info hr{
    width: 120%;
    margin-left: -10%;
}
.footer {
    color: rgba(0, 0, 0, 0.75);
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    top: 50%;
    left: 0;
    right: 0;
}
body{
    background-color: #dad9c3;
}
.customer-card {
    background-color: rgba(232, 152, 38, 0.62);
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.75);
    padding: 20px;
    padding-right:40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    position: relative;
}

.customer-card:hover {
    background-color: rgba(227, 167, 80, 0.62);
    border: 2px solid rgba(227, 167, 80, 0.62);
    box-shadow: 0 4px 15px rgba(227, 167, 80, 0.62);
    transform: scale(1.03);
    z-index: 2;
}

.customer-photo {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid black;
    position: absolute;
    top: 70px;
    left: 2px;
}

.customer-info {
    margin-left: 110px; /* Adjust based on photo size and padding */
    margin-top: 10px;
    padding-right: 5px;

}

.customer-card h2 {
    margin: 0 0 10px;
    font-size: 18px;
    padding-left:15px;
}

.customer-card p {
    margin: 5px 0;
    font-size: 14px;
    text-align: left;
}
